@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.container-seccion {
    height: 6em;
}

.curso-seccion {
    font-family: "Permanent Marker";
    font-size: 2.6em;
    border-radius: 15px;
    height: 100%;
    margin: 15px;
    background-color: var(--buttermilk);
    border: 1px solid black;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.curso-seccion p {
    padding: 0.3em;
}



.page-header {
    margin: 0px 0px 20px 0px;
    font-family: 'Covered By Your Grace', bold;
    font-size: 5em;
    border-bottom: 2px solid rgba(235,235,235,.5);
/*     background-color: --var(--rain); */
}

.breadcrumb {
    font-size: 0.5em;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.breadcrumb a {
    color: hsla(193, 60%, 55%, 1);
}

.breadcrumb a:hover {
    color: hsla(193, 60%, 45%, 1);
}

.breadcrumb > li + li::before {
    content: "/";
    color: hsla(193, 60%, 45%, 1);
}

.breadcrumb li:nth-child(2) a       { color: hsla(193, 60%, 55%, 1); /* rain */ }
.breadcrumb li:nth-child(2) a:hover { color: hsla(193, 60%, 45%, 1); }
.breadcrumb li:nth-child(3) a       { color: hsla(193, 60%, 65%, 1); }
.breadcrumb li:nth-child(3) a:hover { color: hsla(193, 60%, 55%, 1); }
.breadcrumb li:nth-child(4) a       { color: hsla(193, 60%, 75%, 1); }
.breadcrumb li:nth-child(4) a:hover { color: hsla(193, 60%, 65%, 1); }
.breadcrumb li:last-child a {
    background: transparent !important;
/*     color: #D3661E; */
    pointer-events: none;
    cursor: default;
    text-decoration: underline;
}
