@charset "UTF-8";

.page-header {
    margin: 0px 0px 20px 0px;
    font-family: 'Covered By Your Grace', bold;
    font-size: 5em;
    border-bottom: 2px solid rgba(235,235,235,.5);
}

.breadcrumb {
    font-size: 0.5em;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.breadcrumb a {
    color: hsla(193, 60%, 55%, 1);
}

.breadcrumb a:hover {
    color: hsla(193, 60%, 45%, 1);
}

.breadcrumb > li + li::before {
    content: "/";
    color: hsla(193, 60%, 45%, 1);
}

.breadcrumb li:nth-child(2) a       { color: hsla(193, 60%, 55%, 1); /* rain */ }
.breadcrumb li:nth-child(2) a:hover { color: hsla(193, 60%, 45%, 1); }
.breadcrumb li:nth-child(3) a       { color: hsla(193, 60%, 65%, 1); }
.breadcrumb li:nth-child(3) a:hover { color: hsla(193, 60%, 55%, 1); }
.breadcrumb li:nth-child(4) a       { color: hsla(193, 60%, 75%, 1); }
.breadcrumb li:nth-child(4) a:hover { color: hsla(193, 60%, 65%, 1); }
.breadcrumb li:last-child a {
    background: transparent !important;
/*     color: #D3661E; */
    pointer-events: none;
    cursor: default;
    text-decoration: underline;
}


.curso-seccion {
    font-family: "Permanent Marker";
    font-size: 2.6em;
    border-radius: 15px;
    height: 100%;
    margin: 15px;
    background-color: #FFF7C0; /* buttermilk */
    border: 1px solid black;
}

.curso-seccion p {
    padding: 0.3em;
    color: #445a44; /* blackish */
}


/* Galeria */
.image-gallery {
    height:100px;
    margin: 5px 0px;
    display: inline-block;
}

.image-gallery img {
    max-height:100%;
}

.slides .modal-content {
    background-color: #E1F5E5; /* light-leaf */
}

#blueimp-gallery .modal-body img {
    border-radius: 2px;
}

/* Propuestas */
.container .contenidos {
    margin: 5px 0;
    font-size: small;
    font-weight: bold;
    color: #507395;
}

.contenido {
    padding: 0 2px 0 2px;
}

.propuesta {
    margin: 5px 10px;
    max-width: 30%;
    /*min-height: 40%;*/
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FFF7C0; /* buttermilk */
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.propuesta-nombre {
    font-family: 'Chewy', cursive;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #730659; /* pioletongo */
}

.thumb {
    max-width: 120px;
}

.img-thumbnail {
    width: 100%;
}

.seccion {
    background-color: #66AB8C;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.palabra {
    font-family: 'Oxygen Bold', sans-serif;
/*     font-weight: 700; */
    text-decoration: underline;
    background-color: transparent;
    color: #6EC4DB;
    padding: 0;
}

.concepto-thumb {
    padding: 0 0 0 15px;
}

/* ME GUSTAS */

.megusta-gallery {
    height:200px;
    margin: 5px 0px;
    display: inline-block;
}

.megusta-gallery img {
    max-height:100%;
}
