@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

:root{
    --salmon:#FA7C92;
    --rain:#6EC4DB;
    --buttermilk:#FFF7C0;
    --leaf:#66AB8C;
    --light-leaf:#E1F5E5;
    --pioletongo: #730659;
}

/* Sticky footer with navbar
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 60px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Oxygen";
    background-color: #E1F5E5; /* light-leaf */
}

a {
    color: #6EC4DB; /* rain */
}

a:hover {
    color: hsla(193, 60%, 45%, 1); /* darker rain */
    text-decoration: none;
}

.navbar-default {
    background-color: #66AB8C; /* leaf */
    font-weight: bold;
    border: none;
}

.navbar-default .navbar-brand img {
    max-height: 300%;
}

.navbar-default .navbar-brand:hover {
    color: gray;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: gray;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #66AB8C; /* leaf */
}

.footer .container .text-muted {
    margin: 20px 0;
}

.footer .text-muted {
    color: white;
}

.btn-primary, .btn-primary:hover {
    background-image: none;
    background-color: #6EC4DB; /* rain */
    color: #730659; /* pioletongo /*
    border: 1px solid #6EC4DB; /* rain */
    /*text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;*/
}



/* Login page */

.form-signin {
    max-width: 480px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* Propuestas Admin */

.uploadZone {
    padding: 15px;
    text-align: center;
}

