@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Chewy);


.container .contenidos {
    margin: 5px 0;
    font-size: small;
    font-weight: bold;
    color: #507395;
}

.contenido {
    padding: 0 2px 0 2px;
}

.propuesta-nombre {
    font-family: 'Chewy', cursive;
    margin-top: 10px;
    margin-bottom: 0px;
}

.thumb {
    max-width: 120px;
}

.img-thumbnail {
    width: 100%;
}
