@import "basics/colors.scss";
@import "basics/fonts.scss";
@import "layout.scss";
@import "node_modules/dropzone/src/basic.scss";
@import "node_modules/dropzone/src/dropzone.scss";

.admin-row {
    vertical-align: middle !important;

    &-thumb {
        text-align: center;
    }
}

.uploadZone {
    padding: 15px;
    text-align: center;
}

.admin {
    background-color: $light-leaf;
    background-image: url("/images/patterns/ignasi.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.admin-navbar {
    font-family: $general-font ;
    font-size: 15px;
}

#admin h2 {
    font-size: 3em;
}

.modal-body .form-group label {
    font-weight: 600;
    font-size: 1.5em;
}

.modal-body .btn {
    margin: 5px;
}
