@import "basics/colors.scss";
@import "basics/fonts.scss";
@import "layout.scss";
@import "home.scss";
@import "cursos.scss";
@import "crosswords.scss";
@import "login.scss";
@import "print.scss";


a {
    color: $rain;
}

a:hover {
    color: $darker-rain;
    text-decoration: none;
}

h2 {
    color: $blackish;
}


.btn-primary, .btn-primary:hover {
    background-image: none;
    background-color: $rain;
    color: $pioletongo;
    border: 1px solid $blackish;
    /*text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;*/
}
